.title {
    font-size: 34px;
    font-weight: 500;
  }
  
  .description {
    max-width: 600px;
    margin: auto;
  
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: 45px;
      height: 2px;
      margin-top: var(--mantine-spacing-sm);
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .card {
    border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    box-shadow: var(--mantine-shadow-sm);
  }

  .card:hover {
    box-shadow: var(--mantine-shadow-md);
    border: 1px solid var(--mantine-color-blue-filled);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
  }
  
  .cardTitle {
    &::after {
      content: '';
      display: block;
      background-color: var(--mantine-color-blue-filled);
      width: 45px;
      height: 2px;
      margin-top: var(--mantine-spacing-sm);
    }
  }